*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 7vh 0;
}

.calculator {
  width: 450px;
  height: 611px;
  padding: 1.5em 2em 2.5em;
  border: 1px solid lightgray;
  border-radius: 3em 3em 8em 8em;
  background-color: rgb(41, 193, 255);
  box-shadow: -1px 2px 3px black;
}

.display {
  height: 6em;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  background-color: lightgrey;
  box-shadow: 2px 2px 5px 1px black inset;
}
.display > p {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: right;
  font-size: 4.5rem;
  padding: 0.1em;
}

.info {
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
}
.info__badge > p {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.info__badge > p > span {
  font-weight: bold;
}
.info__badge > p > span > sup {
  font-size: 0.5rem;
}
.info__digits {
  margin-left: auto;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.info__digits > span {
  font-style: italic;
}
.info__solar {
  width: 25%;
  height: 50%;
  border-radius: 0.2em;
  background-color: rgb(75, 64, 64);
  box-shadow: 2px 2px 5px 1px black inset;
}
.info small {
  font-size: 0.7rem;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.button {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  background-color: rgb(41, 193, 255);
  color: white;
  box-shadow: -1px 3px 3px black;
  font-size: 3rem;
}
.button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(41, 193, 255);
}
.button:active {
  box-shadow: 0 0 0 2px lightgray;
}
.button--sm-text {
  font-size: 1.4rem;
}
.button--md-text {
  font-size: 2.5rem;
}
.button--white {
  background-color: white;
  color: rgb(41, 193, 255);
  border-color: lightgrey;
}
.button--white:hover {
  background-color: rgb(41, 193, 255);
  color: white;
}
.button--red {
  background-color: red;
  border-color: lightgrey;
}
.button--red p:first-child {
  text-decoration: underline;
}
.button--red:hover {
  color: red;
}
.button--circle {
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.button__equals {
  margin: 0 auto;
  width: 90%;
  border-radius: 1em;
  grid-column: 2/span 3;
}
.button__addition {
  height: 90%;
  grid-column: 5;
  grid-row: 4/span 2;
  border-radius: 1em;
}
